<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>[[${event.title}]]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/css/sb-admin.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/main.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">


</head>
<body>
<div id="content-wrapper" class="container-login100">
    <div class="container ">
        <div class="card mb-3">
            <div class="card-header">

            </div>
            <div class="card-body">


                <div class="row">


                    <div class="col-sm-6">
                        <section>
                            <div class="form-group">
                                <div class="row">
                                    <h1>
                                        <div th:text="${event.title}"></div>
                                    </h1>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <i class="fa fa-bars myicon" aria-hidden="true"></i>

                                    <div th:text="${event.description}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <i class="fa fa-map-marker myicon" aria-hidden="true"></i>


                                    <span> <div th:text="${event.location}"></div></span>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="row">
                                    <i class="fa fa-clock-o myicon" aria-hidden="true"></i>
                                    <div class="col-sm-12  align-middle">
                                        <div th:text="${eventtime[0]}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 align-middle">
                                        <div th:text="${eventtime[1]}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 align-middle">
                                        <div th:text="${eventtime[2]}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 align-middle">
                                        <div th:text="${eventtime[3]}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 align-middle">
                                        <div th:text="${eventtime[4]}"></div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <i class="fa fa-user myicon" aria-hidden="true"></i>
                                    <div th:text="${ event.going}"></div>
                                </div>
                            </div>

                        </section>
                    </div>
                    <div class="col-sm-6">
                        <form action="#" th:action="@{/public/participant}"
                              th:object="${participant}" method="POST">


                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" th:field="*{name}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" th:field="*{email}" class="form-control">
                            </div>

                            <input hidden type="number" th:field="*{event.id}">

                            <button type="submit" class="btn btn-info">Registration</button>


                        </form>

                        <div class="form-group">
                            <div th:if="${confirmationMessage}" class="alert alert-success"
                                 th:text="${confirmationMessage}"></div>
                            <div th:if="${confirmationMessageDanger}" class="alert alert-danger"
                                 th:text="${confirmationMessageDanger}"></div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/vendor/jquery/jquery.js}"></script>

<style>
    .myicon {
        font-size: 25px;
        color: red;
        padding: 2px;
    }

</style>
</body>
</html>