<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<ul class="sidebar navbar-nav">

    <li class="nav-item ">
        <a class="nav-link " th:href="@{/admin/user-details}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>User Details</span>
        </a>
    </li>
    <li class="nav-item   ">
        <a class="nav-link " th:href="@{/admin/appointments}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Appointments</span>
        </a>
    </li>
    <li class="nav-item  ">
        <a class="nav-link " th:href="@{/admin/doctor-details}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Doctor Details</span>
        </a>
    </li>
    <li class="nav-item  ">
        <a class="nav-link " th:href="@{/admin/admin-details}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Admin Details</span>
        </a>
    </li>
    <li class="nav-item  ">
        <a class="nav-link " th:href="@{/admin/add-doctor}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add doctor</span>
        </a>
    </li>
    <li class="nav-item  ">
        <a class="nav-link" th:href="@{/admin/add-admin}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add Admin</span>
        </a>
    </li>
    <li class="nav-item active ">
        <a class="nav-link" th:href="@{/admin/edit-my-profile}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>My Profile</span>
        </a>
    </li>

    <li class="nav-item  ">
        <a class="nav-link" th:href="@{/admin/create-event}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Create Event</span>
        </a>
    </li>

    <li class="nav-item  ">
        <a class="nav-link" th:href="@{/admin/events}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Events</span>
        </a>
    </li>
</ul>